{% extends 'base.html' %}

{% block title %}
Seja Bem Vindo!
{% endblock %}

{% block pagina %}
Novidades
{% endblock %}

{% block main %}
<u><b>VeteriTec - Notícias do dia:</b></u><br>
              <br>
              <b>10 motivos para namorar uma veterinária</b><br>
           1- Veterinárias ficam sexy até de macacão e galocha<br>
           2- Veterinárias conhecem todos os tipos de anatomia<br>
           3- Já viram tantas coisas nojentas que não têm nojo de mais nada<br>
           4- Fazem exame de aptidão reprodutiva com perfeição<br>
           5- Se necessário, fazem também palpação retal…<br>
           6- Gostam de você sendo um super gato, um cachorro ou mesmo um porco!<br>
           7- São bastante inteligentes (não é qualquer um que faz diagnóstico sem o paciente dizer os sintomas!)<br>
           8- Sabem domar qualquer fera<br>
           9- Têm grande resistência física (e mental)!<br>
           10- Tratam de qualquer vaca ou galinha que aparecer na sua frente<br>

          </div>
{% endblock %}
