{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css'%} ">
{% block main%}
<!doctype html>
<link rel="stylesheet" href="{% static 'css\calc.css'%} ">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Calculadora de Doses</title>
</head>
<body>

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header"> Calculadora</div>
        <div class="card-body">
<form >
    <div class="form-label-group">
    <input type="number"  id="kg" class="form-control" placeholder="Kgs" autofocus="autofocus">
        <label for="kg"></label>

  <p></p>
 </div>
   <div class="form-label-group">
    <input type="number"  id="df" placeholder="Dose do Fármaco" autofocus="autofocus">
        <label for="df"></label>
       <select id="dfc">
    <option></option>
    <option value="mg">Mg</option>
    <option value="mgc">Mgc</option>
</select>
  <p></p>
</div>
    <div class="form-label-group">
    <input type="number"  id="cf" placeholder="Concentração do Fármaco" autofocus="autofocus">
        <label for="kg"></label>
<select id="cfc">
    <option></option>
    <option value="g">G</option>
    <option value="mg" >Mg</option>
    <option value="mgc">Mgc</option>
    <option value="%">%</option>
</select>
  <p></p>
 </div>
  <P></P>
    <div align="center">
  <IMPUT type="button" onclick="calcular()" class="btn btn-secondary">Calcular</IMPUT>
  <INPUT type="reset" class="btn btn-outline-secondary"  name="b2" value="Limpar" onclick="apagar()"></IMPUT>
        </div>
</form>
            <p></p>
  <font size="5" color="6c757d" id ="res" >
</font>



</div>
</div>
</div>
</div>
<script>
 function calcular(){
var combodf = document.getElementById("dfc");
var combocf = document.getElementById("cfc");
var kg = window.document.getElementById('kg')
 var df = window.document.getElementById('df')
 var cf = window.document.getElementById('cf')
 var res = window.document.getElementById('res')
 var kg1 = Number(kg.value)
 var df1 = Number(df.value)
 var cf1 = Number(cf.value)
 var medicacao = 0;
  if ( kg1 == 0 || df1 == 0 || cf1 == 0){
 return res.innerHTML="Número Inválido"
 }else{
    if (kg1 < 0 || df1 < 0 || cf1 < 0){
        res.innerHTML=medicacao="Impossível realizar calculos com números negativos em "
 }
    else if (combodf.selectedIndex == 1 && combocf.selectedIndex == 1){
    medicacao = (kg1 * df1) / (1000 / cf1);
  //  return res.innerHTML=medicacao
    }
    else if(combodf.selectedIndex == 1 && combocf.selectedIndex == 2){
        medicacao = (kg1 * df1) / cf1;
     //   return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 1 && combocf.selectedIndex == 3)
    {
        medicacao = (kg1 * df1) / (cf1 * 0.001);
      //  return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 1 && combocf.selectedIndex == 4)
    {
        medicacao = (kg1 * df1) / (cf1 * 10);
       // return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 2 && combocf.selectedIndex == 1)
    {
        medicacao = (kg1 * (df1 * 0.001)) / (1000 / cf1);
       // return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 2 && combocf.selectedIndex == 2)
    {
        medicacao = (kg1 * (df1 * 0.001)) / cf1;
     //   return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 2 && combocf.selectedIndex == 3)
    {
        medicacao = (kg1 * (df1 * 0.001)) / (cf1 * 0.001);
       // return res.innerHTML=medicacao
    }
    else if (combodf.selectedIndex == 2 && combocf.selectedIndex == 4)
    {
        medicacao = (kg1 * (df1 * 0.001)) / (cf1 * 10);
       // return res.innerHTML=medicacao
    }
    if (combocf.selectedIndex == "" || combodf.selectedIndex == "")
	{
        return res.innerHTML="Unidades Inválidas!"
    }
    else{
        return res.innerHTML=medicacao + " ML"
    }
 }
}
function apagar(){
    var res = window.document.getElementById('res')
    res.innerHTML=""
}
</script>
{% endblock %}
</body>
</html>
