{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block pagina %}
Cadastro de Clientes
{% endblock %}
{% block main %}

<form method="POST">
<div class="row">
    <div class="container d-lg-block" style= "font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;">
    <div class="row">

       {% csrf_token %}
      <div class="col-sm">Data: <br>    {{ form.data }}</div>
      <div class="col-sm">Cliente: <br>{{ form.nome }}</div>
      <div class="col-sm">CPF: <br>{{ form.cpf }}</div>
           <div class="w-100"></div>
          <br>
        <div class="col-sm">Sexo: <br> {{ form.sexo}}</div>
        <div class="col-sm">Data de Nascimento : <br>{{ form.nascimento }}</div>
        <div class="col-sm">CEP: <br>{{ form.cep }}</div>
             <div class="w-100"></div>
          <br>
        <div>
        <div class="col-sm">Rua: <br> {{ form.rua }}</div>
        <div class="col-sm">Nº: <br>{{ form.numero }}</div>
        <div class="col-sm"> Bairro: <br> {{ form.bairro }}</div>
            <div class="col">Cidade: <br> {{ form.cidade }}</div>
            <div class="col-sm">UF:<br> {{ form.uf }} <br> Comp.:<br> {{ form.complemento }}</div>
          <div class="w-100"></div>
        <br><br>
            </div>
        <div class="col">
             <div class="col-sm">Telefone: <br> {{ form.telefone }}</div>
            <br>
             <div class="col">Celular: <br> {{ form.celular}}</div>
            <br>
             <div class="col">E-Mail: <br> {{ form.email }}</div>
            <br>
            <br>
             <div class="container"> <button type="submit" class="btn btn-secondary" >Salvar</button>
        <INPUT type="reset" class="btn btn-outline-secondary"  name="b2" value="Limpar"></div>
 </div>

</form>
        <div class="col">

             <P> Cadastrar Animal </P>
<form method="POST">
    {% csrf_token %}
    <div class="col">Nome: <br> {{ formA.nome }}</div>
    <div class="col">Espécie: <br> {{ formA.especie }}</div>
    <div class="col">Raça: <br> {{ formA.raca }}</div>
          <div class="w-100"></div>
     <div class="col">Sexo: <br> {{ formA.sexo }}</div>
     <div class="col">Nasc: <br> {{ formA.nascimento }}</div>
     <div class="col">Castrado: <br> {{ formA.castrado }}</div>
   <div class="w-100"></div>

<div class="col">
    <div>
    <div class="col-sm">Cor: <br> {{ formA.cor }}</div>
     <div class="col">Data: <br> {{ formA.data }}</div>
     <div class="col">Obs: <br> {{ formA.obs }}</div>

     <button type="submit" class="btn btn-secondary">Salvar</button>
    <INPUT type="reset" class="btn btn-outline-secondary"  name="b2" value="Limpar">
    </div>
    </div>
</div>
<div>
   </div>
            </div>

 </form>


            </div>
    </div>
</div>
    </form>
{% endblock %}
