{% extends 'base.html' %}

{% block title %}
Seja Bem Vindo!
{% endblock %}

{% block pagina %}
Busca de Clientes
{% endblock %}

{% block main %}
  <div>
    <form action="clientesbuscar" method="POST">
    {% csrf_token %}
    <input name="cliente" type="text" style="width:370px; height:35px;"placeholder="Digite qual cliente deseja buscar..." autofocus="autofocus">
    <button class="btn btn-secondary btn-lg">Buscar</button>
    </form>
    </div>
    <ul>
    {% for cliente in clie %}
        <li>
            <a href="{% url 'clientes_update' cliente.id %}">{{ cliente.nome }} </a>
            <a href="{% url 'clientes_delete' cliente.id %}">  - Deletar</a></li>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
