{% extends 'base.html' %}

{% block title %}
Seja Bem Vindo!
{% endblock %}

{% block pagina %}
Busca de Fornecedor
{% endblock %}

{% block main %}
  <div>
    <form action="fornecedorbuscar" method="POST">
    {% csrf_token %}
    <input name="fornecedor" type="text" style="width:370px; height:35px;"placeholder="Digite qual fornecedor deseja buscar..." autofocus="autofocus">
    <button class="btn btn-secondary btn-lg">Buscar</button>
    </form>
    </div>
    <ul>
    {% for fornecedor in forc %}
        <li>
            <a href="{% url 'fornecedor_update' fornecedor.id %}">{{ fornecedor.nome }} </a>
            <a href="{% url 'fornecedor_delete' fornecedor.id %}">  - Deletar</a></li>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
