{% extends 'base.html' %}

{% block title %}
Seja Bem Vindo!
{% endblock %}

{% block pagina %}
Novidades
{% endblock %}

{% block main %}
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;"u><b>VeteriTec - Notícias do dia:</b></u><br></div>
              <br>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;"> <b>Dia da apresentação o projeto da VeteriTec</b><br></div>
<br>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;">10/12/2019: <b>Você já ouviu falar em educação profissional continuada? Saiba o que é:</b> <br>Atualmente, a geração de informações acontece de forma muito rápida, com novas propostas de diagnóstico e tratamentos de doenças que ocorrem nos animais de companhia. Acompanhar isso nem sempre é fácil para os médicos veterinários. Desta forma, existe a necessidade do profissional estar constantemente estudando para se manter atualizado — diz o especialista.
Listamos abaixo o que há de novidade de veterinária em diagnósticos e tratamentos surgidos nos últimos anos, de acordo com profissionais ligados à Associação Nacional de Clínicos Veterinários de Pequenos Animais (ANCLIVEPA Brasil):<br>
   </div>
<a href="https://www.secad.com.br/blog/todas-as-outras/outros-conteudos/voce-ja-ouviu-falar-em-educacao-profissional-continuada/"> https://www.secad.com.br/blog/todas-as-outras/outros-conteudos/voce-ja-ouviu-falar-em-educacao-profissional-continuada/</a>

    <br>
<br>

<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;"> 08/12/2019: <b>Diabetes em cães e gatos: o que veterinários precisam saber sobre o manejo da doença</b><br></div>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;">Apesar da incidência de diabetes em cães e gatos ser menor do que em seres humanos, médicos e veterinários têm observado um crescimento no número de animais com a doença. Para além do diagnóstico, também tem aumentado a importância do papel de profissionais de veterinária, que acabam sendo figura fundamental na educação dos donos dos animais sobre as diretrizes e orientações do tratamento.
Álan Pöppl, coordenador do Serviço de Endocrinologia e Metabolismo da Faculdade de Veterinária da Universidade Federal do Rio Grande do Sul (UFRGS), explica que o sucesso do tratamento da doença depende de uma excelente interação entre o tutor e o veterinário, além da cooperação do paciente.</div>
<a href="https://www.secad.com.br/blog/medicina-veterinaria/novidade-de-veterinaria-que-precisa-saber/"> https://www.secad.com.br/blog/medicina-veterinaria/novidade-de-veterinaria-que-precisa-saber/</a>
<br>
<br>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;"> 26/11/2019: <b>O que é o Otohematoma em cães?</b><br></div>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px;">Otohematoma em cães caracteriza-se como o acúmulo de sangue em decorrência de algum trauma entre a pele e a cartilagem da orelha dos animais, levando ao rompimento de vasos. Então, após a formação do coágulo ocorre à produção de um grande volume de fluido no local.
Esse, é mais conhecido como seroma e se o abscesso não for tratado pode aumentar. E mais, com o passar do tempo, adquire uma consistência dura e torna-se mais difícil de ser eliminado. Parte dos tutores conhece a enfermidade como “orelha estourada” e os casos são rotineiros em clínicas e hospitais veterinários.
    Assim, é importante lembrar que o otohematoma em cães costuma ser um problema secundário, pois na maioria dos eventos ocorre em função das lesões na orelha que costumam acontecer quando o animal vai coça-la com a pata ou mesmo por conta de alguma batida.</div>
          </div>
<a href="http://www.revistaveterinaria.com.br/otohematoma-em-caes/"> http://www.revistaveterinaria.com.br/otohematoma-em-caes/</a>

{% endblock %}
